<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052066387597-dln1chc6betk8attgaes1g3b2qn4tqrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052066387597-dln1chc6betk8attgaes1g3b2qn4tqrd</string>
	<key>API_KEY</key>
	<string>AIzaSyB5WdclEePGSwz9KVzt2tCJs2SZAxC-yoo</string>
	<key>GCM_SENDER_ID</key>
	<string>1052066387597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFlutterBoth</string>
	<key>PROJECT_ID</key>
	<string>storage-check-83eb4</string>
	<key>STORAGE_BUCKET</key>
	<string>storage-check-83eb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052066387597:ios:5e869a25d1871bfc30b4c4</string>
</dict>
</plist>